.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


header {
  background-color: #4D50AD;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  margin-left: 10px;
}

button {
  display: inline;
  margin: 8px;
  /* height: 24px;
  width: 32px; */
}

.artist-list {
  /* align-self: flex-start; */
  text-align: left;
  margin-left: 16px;
}